@import url('https://fonts.googleapis.com/css?family=Lora&display=swap'): root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: 'Lora', serif;
  background-color: #d2c8c8;
  color: white;
}

hr {
  border: #0a065d solid 1px;
  width: 75%;
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.contact {
  margin-top: 0;
  font-size: 1.25rem;
  text-align: center;
}

.flowers-menu li {
  font-size: 1.25rem;
  list-style: none;
  padding: 5px;
  background-color: #f8f1f1;
  width: 150px;
  padding-left: 40px;
}

.flowers-menu {
  margin-top: 30px;
}

/* .flowers-menu :nth-child(1) { */
/* padding-top: 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* .flowers-menu :nth-child(5) {
  padding-bottom: 30px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
} */

.rose-container {
  padding-top: 30px !important;
}

.main-container {
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: flex;
  justify-content: space-between;
  width: 170px;
}

.dropbtn {
  background-color: #0a065d4b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
/* .dropbtn2 {
  background-color: #0a065d4b;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #0a065d;
}

.drop-menus {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.menu-container {
  display: flex;
}

.flower-img {
  width: 200px;
  border: solid black 3px;
  border-radius: 7px;
}

.flowers-container {
  display: flex;
  flex-direction: column;
}

.flowers-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  list-style: none;
}

.flowers-list li {
  justify-items: center;
  width: 250px;
  margin: 12px;
}

.flowers {
  width: 250px;

  list-style: none;
}

.header-name {
  font-size: 7rem;
  color: white;
  text-align: center;
}

.header-name:hover {
  color: #0a065d;
  text-decoration: none;
}

.search-input {
  height: 2rem;
  width: 15rem;
}

.cart {
  text-align: center;
}

.list-img {
  width: 170px;
}

.fa-leaf {
  color: rgba(0, 128, 128, 0.377);
  margin-right: 25px;
}

.flower-name {
  margin-top: 30px;
  margin-left: 40px;
}

.fa-shopping-cart {
  color: white;
}

.featured-arrangements {
  padding-top: 25px;
  padding-left: 30px;
}

.input-form {
  margin-top: 30px;
  margin-left: 30px;
}

.dropzone {
  background-color: white;
  color: black;
  /* margin-left: 116px; */
  height: 30px;
  width: 170px;
}

.file-drop {
  /* text-align: center; */
  color: grey;
  margin-top: 3px;
  margin-left: 2px;
}

.cart-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
  list-style: none;
}

.cart-list li {
  justify-items: center;
  width: 250px;
  margin: 12px;
}

.cart-name {
  margin-top: 30px;
  margin-left: 40px;
}
.carts-list {
  list-style: none;
}

.carts {
  margin-top: 30px;
  margin-left: 40px;
}

.all-carts-btn {
  margin-top: 29px;
  margin-left: 45px;
}

.add-btn {
  width: 173px;
}

.all-flowers li {
  list-style: none;
  border: 3px solid white;
  margin: 5px;
  width: 200px;
  padding: 10px;
}

.all-flowers {
  display: flex;
  flex-wrap: wrap;
}

.inventory-container {
  display: flex;
}

@media (max-width: 550px) {
  html {
    font-size: 16px;
  }

  .flowers-list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    list-style: none;
  }

  .flowers-list li {
    justify-items: center;
    width: 130px;
  }

  .flower-name {
    width: 125px;
  }

  .cart-name {
    width: 125px;
  }

  .featured-arrangements {
    width: 200px;
    font-size: 1.5rem;
    margin-left: 20px;
    padding-top: 30px;
  }

  .header-name:hover {
    color: white;
    text-decoration: none;
  }

  .flowers-menu {
    margin-left: 75px;
  }

  .flower-section {
    width: 200px;
    margin-left: 72px;
  }

  .cart-items {
    display: flex;
    flex-direction: column;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
}
